language: java

jdk:
  - oraclejdk8

install: mvn clean install -Ptravis

before_install:
  - sed -i.bak -e 's|https://nexus.codehaus.org/snapshots/|https://oss.sonatype.org/content/repositories/codehaus-snapshots/|g' ~/.m2/settings.xml

env:
  global:
    JAVA_OPTS=-Xmx1g
